{% extends './layout.html' %} {% block title %} 蒙牛官网 {% endblock %} {% block head %}
<link rel="stylesheet" href="../less/duty.css">{% endblock %} {% block content %}
<!-- 提供页面信息，页面名称及页面导航背景色 -->
<h1 id="pageInfor" style="display:none;background-color:rgb(113, 189, 228)">可持续发展</h1>
<!-- 所有子页面都必须包含的这个页面信息元素 -->

<!-- 主内容区域 -->
<div class="page_wrap">
    <div class="content_area">
        <div class="image_wrap image_wrap_1">
            <a href="/duty/ynzm">
                <span class="image image_1"></span>
                <span class="water water_1">
                    <img src="../images/duty/redWater.png" alt="">
                </span>
            </a>
        </div>

        <div class="image_wrap image_wrap_2">
            <a href="/duty/czgy">
                <span class="image image_2"></span>
                <span class="water water_2">
                    <img src="../images/duty/greenWater.png" alt="">
                </span>
            </a>
        </div>

        <div class="image_wrap image_wrap_3">
            <a href="/">
                <span class="image image_3"></span>
                <span class="water water_3">
                    <img src="../images/duty/orangeWater.png" alt="">
                </span>
            </a>
        </div>

        <div class="image_wrap image_wrap_4">
            <a href="/">
                <span class="image image_4"></span>
                <span class="water water_4">
                    <img src="../images/duty/blueWater.png" alt="">
                </span>
            </a>
        </div>

        <span class="water water_1">
            <img src="../images/duty/redWater.png" alt="">
        </span>
    </div>
</div>

<div class="footerWrap">
    <div class="footer">
        <div class="footer_inner">
            <div class="social">
                <a href="">
                    <i></i>蒙牛官方微博</a>
                <span>
                    <i></i>蒙牛官方微信
                    <span class="weixin_wrap">
                        <em></em>
                        <span class="weixin"></span> 微信号：
                        <b>蒙牛乳业</b>
                    </span>
                </span>
            </div>
            <div class="copyright">
                <span class="line">
                    <a href="">关于蒙牛</a> |
                    <a href="">媒体中心</a> |
                    <a href="">投资者中心</a> |
                    <a href="">加入我们</a> |</span>
                <span class="line">
                    <a href="">蒙牛微客服</a> |
                    <a href="">蒙牛天猫旗舰店</a> |
                </span>
                <span class="line">
                    <a href="">全员销售</a>
                </span>
                <p>
                    <span class="line">CopyRight 2006-2017, All Rights Reserved</span>
                    <span class="line">内蒙古蒙牛乳业 版权所有 蒙ICP备05005622号</span>
                    <span class="line">
                        <a href="" target="_blank">
                            <i class="beian"></i>蒙公网安备 15012302000103号</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script %}
<script src="../js/duty.js"></script> {% endblock %}