{% extends './layout.html' %} {% block title %}蒙牛--以消费者为中心，成为创新引领的百年营养健康食品公司{% endblock %} {% block head %}
<link rel="stylesheet" href="../less/index.css"> {% endblock %} {% block content %}
<!-- 主题部分 -->
<h1 id="pageInfor" style="display:none;background-color:#339b39;">蒙牛首页</h1>
<div class="banner_wrap ">

    <!-- 背景图片滚动窗口 -->
    <div class="scroll_item scroll_page_0">
        <div class="banner_item item_0 waterDown">
            <div class="water_drop_wrap water_drop_wrap_1">
                <div class="water_drop">
                    <em></em>
                    <b></b>
                </div>
            </div>
            <div class="water_drop_wrap water_drop_wrap_2">
                <div class="water_drop">
                    <em></em>
                    <b></b>
                </div>
            </div>
            <div class="water_drop_wrap water_drop_wrap_3">
                <div class="water_drop">
                    <em></em>
                    <b></b>
                </div>
            </div>
            <div class="water_drop_wrap water_drop_wrap_4">
                <div class="water_drop">
                    <em></em>
                    <b></b>
                </div>
            </div>
        </div>
        <div class="banner_item item_1 waterDown">
            <div class="water_drop_wrap water_drop_wrap_4">
                <div class="water_drop">
                    <em></em>
                    <b></b>
                </div>
            </div>

            <div class="water_drop_wrap water_drop_wrap_4 water_drop_wrap_7">
                <div class="water_drop">
                    <em></em>
                    <b></b>
                </div>
            </div>

            <div class="water_drop_wrap water_drop_wrap_5">
                <div class="water_drop">
                    <em></em>
                    <b></b>
                </div>
            </div>

            <div class="water_drop_wrap water_drop_wrap_1 water_drop_wrap_6">
                <div class="water_drop">
                    <em></em>
                    <b></b>
                </div>
            </div>
        </div>
        <div class="banner_item item_2 waterDown">
            <div class="water_drop_wrap water_drop_wrap_4 water_drop_wrap_12">
                <div class="water_drop">
                    <em></em>
                    <b></b>
                </div>
            </div>

            <div class="water_drop_wrap water_drop_wrap_1 water_drop_wrap_8">
                <div class="water_drop">
                    <em></em>
                    <b></b>
                </div>
            </div>

            <div class="water_drop_wrap water_drop_wrap_3 water_drop_wrap_10">
                <div class="water_drop">
                    <em></em>
                </div>
            </div>

            <div class="water_drop_wrap water_drop_wrap_3 water_drop_wrap_11">
                <div class="water_drop">
                    <em></em>
                </div>
            </div>
        </div>
        <div class="banner_item item_3 waterDown">
            <div class="water_drop_wrap water_drop_wrap_4 water_drop_wrap_16">
                <div class="water_drop">
                    <em></em>
                </div>
            </div>

            <div class="water_drop_wrap water_drop_wrap_1 water_drop_wrap_17">
                <div class="water_drop">
                    <em></em>
                </div>
            </div>

            <div class="water_drop_wrap water_drop_wrap_4 water_drop_wrap_18">
                <div class="water_drop">
                    <em></em>
                    <b></b>
                </div>
            </div>

            <div class="water_drop_wrap water_drop_wrap_3 water_drop_wrap_19">
                <div class="water_drop">
                    <em></em>
                </div>
            </div>

            <div class="water_drop_wrap water_drop_wrap_1 water_drop_wrap_20">
                <div class="water_drop">
                    <em></em>
                </div>
            </div>
        </div>
        <div class="banner_item item_4 waterDown">
            <div class="water_drop_wrap water_drop_wrap_1 water_drop_wrap_13">
                <div class="water_drop">
                    <em></em>
                </div>
            </div>

            <div class="water_drop_wrap water_drop_wrap_3 water_drop_wrap_14">
                <div class="water_drop">
                    <em></em>
                </div>
            </div>

            <div class="water_drop_wrap water_drop_wrap_4 water_drop_wrap_15">
                <div class="water_drop">
                    <em></em>
                </div>
            </div>
            <div class="footer">
                <div class="footer_inner">
                    <div class="social">
                        <a href=""><i></i>蒙牛官方微博</a>
                        <span><i></i>蒙牛官方微信
                        <span class="weixin_wrap">
                            <em></em>
                            <span class="weixin"></span> 微信号：<b>蒙牛乳业</b>
                        </span>
                        </span>
                    </div>
                    <div class="copyright">
                        <span class="line"><a href="">关于蒙牛</a> |
                        <a href="">媒体中心</a> |
                        <a href="">投资者中心</a> |
                        <a href="">加入我们</a> |</span>
                        <span class="line">
                            <a href="">蒙牛微客服</a> | <a href="">蒙牛天猫旗舰店</a> |
                        </span>
                        <span class="line"><a href="">全员销售</a></span>
                        <p>
                            <span class="line">CopyRight 2006-2017, All Rights Reserved</span>
                            <span class="line">内蒙古蒙牛乳业 版权所有 蒙ICP备05005622号</span>
                            <span class="line"><a href="" target="_blank"><i class="beian"></i>蒙公网安备 15012302000103号</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 滚动点 -->
    <div class="scroll_page">
        <span class="page_0" index="0"></span>
        <span class="page_1" index="1"></span>
        <span class="page_2" index="2"></span>
        <span class="page_3" index="3"></span>
        <span class="page_4" index="4"></span>
    </div>
</div>
{% endblock %} {% block script %}
<script src="../js/index.js"></script>
{% endblock %}