<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="../images/icon.png">
    <link rel="stylesheet" href="../less/layout.css"> {% block head %}{% endblock %}
</head>

<body>
    <!-- 导航总栏 -->
    <div id="totalBar" class="navBar">
        <!-- logo -->
        <div class="site_title">
            <h1 id="log_bg">
                <a href="indexPage.html" id="logo">蒙牛官网</a>
            </h1>
        </div>

        <!-- 导航总栏 -->
        <div class="main_nav_wrap">
            <ul class="main_nav">
                <li class="nav_home active"><a href="indexPage.html"><span class="nav_pic"></span><span class="nav_word">首页</span><em></em></a></li>
                <li class="nav_about "><a href="aboutPage.html"><span class="nav_pic"></span><span class="nav_word">首页</span><em></em></a>
                    <div class="sub_nav">
                        <div class="sub">
                            <ul class="about">
                                <li><a href="">集团介绍</a></li>
                                <li><a href="">核心价值</a></li>
                                <li><a href="">企业荣誉</a></li>
                                <li><a href="">联系我们</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav_product "><a href="productPage.html"><span class="nav_pic"></span><span class="nav_word">首页</span><em></em></a>
                    <div class="sub_nav">
                        <div class="sub">
                            <ul class="product">
                                <li><a href="">品牌与产品</a></li>
                                <li><a href="">购买产品</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav_duty "><a href=""><span class="nav_pic"></span><span class="nav_word">首页</span><em></em></a>
                    <div class="sub_nav">
                        <div class="sub">
                            <ul class="duty">
                                <li><a href="">有你最美</a></li>
                                <li><a href="">成长共赢</a></li>
                                <li><a href="">绿色发展</a></li>
                                <li><a href="">报告下载</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav_news"><a href=""><span class="nav_pic"></span><span class="nav_word">首页</span><em></em></a>
                    <div class="sub_nav">
                        <div class="sub">
                            <ul class="news">
                                <li><a href="">热点新闻</a></li>
                                <li><a href="">工厂参观</a></li>
                                <li><a href="">招标公告</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {% block content %}{% endblock %}
    <script src="../js/jquery-3.2.1.min.js"></script>
    {% block script %}{% endblock %}
    <script src="../js/navBar.js"></script>
</body>

</html>