{% extends './layout.html' %} 
{% block title %} 蒙牛官网 {% endblock %}
{% block head %}<link rel="stylesheet" href="../less/news.css">{% endblock %}
{% block content %}
<!-- 提供页面信息，页面名称及页面导航背景色 -->
<h1 id="pageInfor" style="display:none;background-color:rgb(38, 161, 58)">新闻与活动</h1>
<!-- 所有子页面都必须包含的这个页面信息元素 -->

<div class="page_wrap">
    <div class="news_banner">
        <div class="news_banner_item news_banner_item_1">
            <div class="img_wrap img_wrap_1"></div>
            <div class="content_area content_area_1">
                <span class="news_text news_text_1"></span>
                <a href="http://" class="water_title_wrap water_title_wrap_1">
                    <i></i>
                    <em></em>
                    <b>热点新闻</b>
                    <span>了解详情</span>
                </a>
            </div>
        </div>

        <div class="news_banner_item news_banner_item_2">
                <div class="img_wrap img_wrap_2"></div>
                <div class="content_area content_area_2">
                        <span class="news_text news_text_2"></span>
                        <a href="http://" class="water_title_wrap water_title_wrap_2">
                            <i></i>
                            <em></em>
                            <b>工厂参观</b>
                            <span>了解详情</span>
                        </a>
                </div>
        </div>

        <div class="news_banner_item news_banner_item_3">
                <div class="img_wrap img_wrap_3"></div>
                <div class="content_area content_area_3">
                        <span class="news_text news_text_3"></span>
                        <a href="http://" class="water_title_wrap water_title_wrap_3">
                            <i></i>
                            <em></em>
                            <b>招标公告</b>
                            <span>了解详情</span>
                        </a>
                </div>
        </div>
    </div>
</div>

<div class="footerWrap">
        <div class="footer">
            <div class="footer_inner">
                <div class="social">
                    <a href="">
                        <i></i>蒙牛官方微博</a>
                    <span>
                        <i></i>蒙牛官方微信
                        <span class="weixin_wrap">
                            <em></em>
                            <span class="weixin"></span> 微信号：
                            <b>蒙牛乳业</b>
                        </span>
                    </span>
                </div>
                <div class="copyright">
                    <span class="line">
                        <a href="">关于蒙牛</a> |
                        <a href="">媒体中心</a> |
                        <a href="">投资者中心</a> |
                        <a href="">加入我们</a> |</span>
                    <span class="line">
                        <a href="">蒙牛微客服</a> |
                        <a href="">蒙牛天猫旗舰店</a> |
                    </span>
                    <span class="line">
                        <a href="">全员销售</a>
                    </span>
                    <p>
                        <span class="line">CopyRight 2006-2017, All Rights Reserved</span>
                        <span class="line">内蒙古蒙牛乳业 版权所有 蒙ICP备05005622号</span>
                        <span class="line">
                            <a href="" target="_blank">
                                <i class="beian"></i>蒙公网安备 15012302000103号</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
</div>
{% endblock %}
{% block script %}<script src="../js/news.js"></script> {% endblock %}