{% extends './layout.html' %}
{% block title %} 品牌与产品 {% endblock %}
 {% block head %}
<link rel="stylesheet" href="../less/product/brand.css">{% endblock %}
{% block content %}
<!-- 提供页面信息，页面名称及页面导航背景色 -->
<h1 id="pageInfor" style="display:none;background-color:rgb(235, 107, 100)">品牌与产品</h1>
<!-- 所有子页面都必须包含的这个页面信息元素 -->
    <div class="page_wrap">
    	<div class="banner_wrap">
    		<!-- 背景图片 -->
    		<div class="banner_item">
    		</div>
    	</div>
    </div>
    <div class="content_area clearFix">
    	<!-- 产品分类 -->
    	<div class="product_block product_block_0">
    		<a href="" class="block_bg" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_0.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_1">
    		<a href="" class="block_bg" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_1.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_2">
    		<a href="" class="block_bg blue" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_2.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>
		
		<div class="product_block product_block_3">
    		<a href="" class="block_bg blue" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_3.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_4">
    		<a href="" class="block_bg red" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_4.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_5">
    		<a href="" class="block_bg red" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_5.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_6">
    		<a href="" class="block_bg orange" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_6.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_7">
    		<a href="" class="block_bg" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_7.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_8">
    		<a href="" class="block_bg" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_8.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_9">
    		<a href="" class="block_bg blue" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_9.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_10">
    		<a href="" class="block_bg blue" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_10.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_11">
    		<a href="" class="block_bg red" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_11.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_12">
    		<a href="" class="block_bg red" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_12.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_13">
    		<a href="" class="block_bg orange" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_13.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_14">
    		<a href="" class="block_bg" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_14.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_15">
    		<a href="" class="block_bg" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_15.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_16">
    		<a href="" class="block_bg blue" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_16.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_17">
    		<a href="" class="block_bg blue" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_17.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_18">
    		<a href="" class="block_bg red" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_18.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_19">
    		<a href="" class="block_bg red" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_19.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>

    	<div class="product_block product_block_20">
    		<a href="" class="block_bg orange" onclick="return false;">
    			<i>
    				<em>
    					<b style="background-image: url(../images/product/brand/product_20.png);"></b>
    				</em>
    			</i>
    		</a>
    	</div>
    </div>

<!-- 底部 -->
 <div class="footerWrap">
    <div class="footer">
        <div class="footer_inner">
            <div class="social">
                <a href="">
                    <i></i>蒙牛官方微博</a>
                <span>
                    <i></i>蒙牛官方微信
                    <span class="weixin_wrap">
                        <em></em>
                        <span class="weixin"></span> 微信号：
                        <b>蒙牛乳业</b>
                    </span>
                </span>
            </div>
            <div class="copyright">
                <span class="line">
                    <a href="">关于蒙牛</a> |
                    <a href="">媒体中心</a> |
                    <a href="">投资者中心</a> |
                    <a href="">加入我们</a> |</span>
                <span class="line">
                    <a href="">蒙牛微客服</a> |
                    <a href="">蒙牛天猫旗舰店</a> |
                </span>
                <span class="line">
                    <a href="">全员销售</a>
                </span>
                <p>
                    <span class="line">CopyRight 2006-2017, All Rights Reserved</span>
                    <span class="line">内蒙古蒙牛乳业 版权所有 蒙ICP备05005622号</span>
                    <span class="line">
                        <a href="" target="_blank">
                            <i class="beian"></i>蒙公网安备 15012302000103号</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="../js/product/brand.js"></script> {% endblock %}